
body {
    text-align: center;
    margin: 0px;
    font-family:" Courier New ";
}

.about {
    background-color: white;
    padding: 10px;
}

.projects {
    background-color: white;
    padding: 10px;
}

.music {
    background-color: white;
    padding: 10px;
}

.media {
    background-color:white;
    padding: 10px;
}

body {
    text-align: left;
    margin: 2px;
    font-family: " Courier New";
}

.iframe {
    background-color: white;
    padding 10px;
}
